# Scons related
/build

# Visual Studio related
*.ncb
*.suo
/rts/build/vstudio8/Release
/rts/build/vstudio8/Debug
/rts/build/vstudio8/Debug+MT
/rts/build/vstudio8/Release with error catching
/rts/build/vstudio8/Release+MT with error catching
/rts/build/vstudio8/Syncdebug

# Java AI related
/AI/Interfaces/Java/build
/AI/Skirmish/*/build

#buildbot generated dirs
/build-*

#installer downloaded/generated stuff
/installer/Springlobby/
/installer/*.exe
